.everest__events {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    padding: 1rem;
}

.everest__events-event {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    margin: 2rem;
    padding: 2rem;
    font-family: var(--font-family);
}

.everest__events-header {
    flex: 1;
    font-family: var(--font-family);
    padding: 1.5rem 0 1rem 0;
}

.everest__events-event-container {
    display: flex;
    flex-direction: row ;
}

.everest__events-event-description {
    padding: 2rem;
    display: flex;
    align-self: center;
    flex: 1;
}


.everest__events-event-description p{
    color: #FFF;
    font-size: 20px;
}

.everest__events-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1
}

.everest__events-event h2 {
    font-size: 27px;
    color: #8b97ac;
}

.everest__events-event p {
    font-size: 20px;
    color: #697a99;
}

.everest__events-event img {
    flex: 1;
    margin: 1rem;
    width: 100%;
    height: auto;
}

.everest__events-event a {
    color: var(--color-text);
}

@media screen and (max-width: 1050px) {
    .everest__events {
        margin: 4rem;
    }

    .everest__events-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .everest__events {
        margin: 3rem;
    }

    .everest__events-container {
        flex-direction: column;
    }

    .everest__events-event {
        margin: 0.6rem 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .everest__events {
        margin: 2rem;
    }

    .everest__events-container {
        flex-direction: column;
    }

    .everest__events-event {
        margin: 0.6rem 1.2rem;
    }
}