.everest__contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0 0rem;
    padding: 0 0rem;
    background-color: rgb(10, 10, 15);
    height: 100%;
}

.bodyDiv {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--color-darkgrey);
    color: var(--color-bgpurewhite);
}

.contactInfo h1 {
    font-size: 4rem;
}

.formDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.formSelectionDiv {
    display: flex;
    align-self: center;
}

.formContainer {
    flex: 1;
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: aliceblue;
}

.formContainer iframe {
    flex: 1;
    background-color: var(--color-darkgrey);
    border: none;
}



.everest__contacts-socials {
    display: flex;
    flex-direction: row;   
    margin: 0 1rem;
    justify-content: center;
    align-items: center;
}

.everest__contacts-field {
    flex: 1;
    padding: 0;
    margin: 0;
    color: rgb(200, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.everest__contacts-field img{
    flex: 1;
    max-height: 2rem;
    margin-bottom: 0.5rem;
    max-width: fit-content;
}

.everest__contacts-field h2{
    flex: 1;
    padding: 0 0.5rem;
}
