.everest__header {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    padding: 0;
    width: 100%;
    background-image: url("./../../assets/images/newME.jpg");
    background-size: 100%;
}

.everest__header-content {
    padding-left: 3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-darkgrey);
}

.everest__header-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everest__header-image img{
    flex: 1;
    width: 100%;
    height: auto;
}

.everest__header-content h2 {
    font-size: 6rem;
}

.everest__header-content h3 {
    font-size: 3.5rem;
}

.everest__header-content__input input {
    flex: 1.5;
    width: 100%;
    min-height: 40px;
    background-color: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff
}

.everest__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 40px;
    background-color: #146fde;
    border-radius: 0px 5px 5px 0px;
    font-family: var(--font-family);
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    line-height: 20px;
    outline: none;
    border: none;
    padding: 0 1rem;
}



@media screen and (max-width: 1050px) {
    .everest__header-content h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .everest__header-content h3 {
        font-size: 2rem;
    }
    .everest__header {
        background-image: url("./../../assets/images/newME.jpg");
        background-size: auto;
    }
}

@media screen and (max-width: 650px) {
    .everest__header-content h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .everest__header-content h3 {
        font-size: 2rem;
    }
    .everest__header {
        background-image: url("./../../assets/images/newME.jpg");
        background-size: auto;
    }
}

@media screen and (max-width: 450px) {
    .everest__header-content h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .everest__header-content h3 {
        font-size: 2rem;
    }
    .everest__header {
        background-image: url("./../../assets/images/newME.jpg");
        background-size: auto;
    }
}
