.everest__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin-top: 1.5rem;
}

.everest__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.everest__header-image {
    flex: 2;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everest__header-image img{
    flex: 1;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.everest__header-content__input {
    width: 100%;
    margin: 1rem 0 1rem;
    display: flex;
}

.everest__header-content__input input {
    flex: 1.5;
    width: 100%;
    min-height: 40px;
    background-color: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff
}

.everest__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 40px;
    background-color: #146fde;
    border-radius: 0px 5px 5px 0px;
    font-family: var(--font-family);
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    line-height: 20px;
    outline: none;
    border: none;
    padding: 0 1rem;
}



@media screen and (max-width: 1050px) {
    .everest__header {
        flex-direction: column;
    }

    .everest__header-content {
        margin: 0 0 1rem
    }
}
.everest__header-content h1{
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

@media screen and (max-width: 650px) {
    .everest__header h1{
        flex-direction: column;
        font-size: 40px;
        line-height: 45px;
    }

    .everest__header-content {
        margin: 0 0 1rem
    }

    .everest__header-content h1{
        flex-direction: column;
        line-height: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 650px) {
    .everest__header h1{
        flex-direction: column;
        font-size: 30px;
        line-height: 35px;
    }

    .everest__header-content {
        margin: 0 0 0rem
    }

    .everest__header-content h1{
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
    }
}