.everest__members {
    margin: 5rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.everest__members-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 2rem 0 1rem 0;
}

.everest__members-header h1{
    flex: 1;
    font-size: 45px;
    font-family: var(--font-family);
}

.everest__members-member {
    flex: 1;
    min-width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--color-bg);
}

.left-align {
    align-self: flex-start;
}

.right-align {
    align-self: flex-end;
}

.everest__members-member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem
}

.everest__members-member-info h1 {
    font-family: var(--font-family);
    text-align: center;
    font-size: 40px;    
    color: #8b97ac;
}

.everest__members-member-info h2 {
    font-family: var(--font-family);
    text-align: center;
    padding: 0 0 2rem 0;
    color: #697a99;
}

.everest__members-member-info p {
    font-family: var(--font-family);
    text-align: center;
    color: #FFF;
}

.everest__members-member-image {
    align-self: center;
    align-content: center;
    justify-content: center;
    flex: 0.5;
}

.everest__members-member-image img {
    flex: 1;
    align-self: center;
    width: 100%;
    max-width: 21rem;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .everest__members {
        margin: 4rem;
    }

    .everest__members-member {
        margin: 1rem;
        padding: 0rem 0.7rem;
    }

}

@media screen and (max-width: 650px) {
    .everest__members {
        margin: 3rem;
        padding: 1.5rem;
    }
    
    .everest__members-member {
        margin: 1rem;
        padding: 0rem 0.7rem;
    }

    .everest__members-member-info h1 {
        font-size: 32px;
    }
    
    .everest__members-member-info h2 {
        font-size: 15px;
    }
    
    .everest__members-member-info p {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .everest__members {
        margin: 2rem;
        padding: 1.2rem;
    }

    .everest__members-member {
        margin: 1rem;
        padding: 0rem 0.7rem;
    }

    .everest__members-member-info h1 {
        font-size: 25px;
    }
    
    .everest__members-member-info h2 {
        font-size: 12px;
        padding: 0 0 0.8rem 0;
    }
    
    .everest__members-member-info p {
        font-size: 11px;
    }
}
