@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #bb4f88 1.84%, #dd0000 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d64242 -13.86%, #dd0000 99.55%);
  
  --color-bg: #ffdbca;
  --color-footer : #e77436;
  --color-blog: #bc4c27;
  --color-text: #ddbb87;
  --color-subtext: #5485e0;
}