@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #2d3cde 1.84%, #AE67FA 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #2d3cde -13.86%, #AE67FA 99.55%);
  
  --color-bg: #ffdbca;
  --color-footer : #FFBF69;
  --color-blog: #bc4c27;
  --color-text: #ddbb87;
  --color-subtext: #5485e0;
}